@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  font-family: 'Arial', sans-serif !important;
}


.navbar-brand{
  margin:0;
  padding: 0;

}
.logo{
  height: 50px;
  padding-right: 15px;
  padding-left: 5px;
}
.navbar-inverse{
  height: 65px;
  padding-top:5px;
}
